/* https://github.com/urob/zmk-helpers/blob/main/include/zmk-helpers/key-labels/hillside52.h */
/*                                      52 KEY MATRIX / LAYOUT MAPPING

  ╭────────────────────────╮               ╭────────────────────────╮
  │  0   1   2   3   4   5 │               │  6   7   8   9  10  11 │
  │ 12  13  14  15  16  17 ╰──╮         ╭──╯ 18  19  20  21  22  23 │
  │ 24  25  26  27  28  29  30╰────┬────╯31  32  33  34  35  36  37 │
  │ 38  39  40      41  42  43  44 │ 45  46  47  48      49  50  51 │
  ╰────────────────────────────────┴────────────────────────────────╯
 ╭─────────────────────────╮               ╭─────────────────────────╮
 │ LT5 LT4 LT3 LT2 LT1 LT0 │               │ RT0 RT1 RT2 RT3 RT4 RT5 │
 │ LM5 LM4 LM3 LM2 LM1 LM0 ╰──╮         ╭──╯ RM0 RM1 RM2 RM3 RM4 RM5 │
 │ LB5 LB4 LB3 LB2 LB1 LB0 LH4╰────┬────╯RH4 RB0 RB1 RB2 RB3 RB4 RB5 │
 │ LP2 LP1 LP0╭───╮LEC LH2 LH1 LH0 │ RH0 RH1 RH2 REC╭───╮RP0 RP1 RP2 │
 ╰────────────╯   ╰────────────────┴────────────────╯   ╰────────────╯
 T : Top
 M : Middle
 B : Bottom
 H : Hand
 P : Palm
*/

#define CONFIG_WIRELESS
#define DEF 0
#define NAV 1
#define FN 2
#define NUM 3
#define SYM 4
#define MOUSE 5
#define VIM_NAV 6
#define VIM_HJKL 7
#define VIM_WS 8
#define VIM_RS 9
#define VIM_PS 10

// &kp K_PREV    &kp K_NEXT
// &out OUT_USB  &bt BT_CLR    &out OUT_BLE &bt BT_SEL 2
//
#define ZMK_BASE_LAYER(name, LT, RT, LM, RM, LB, RB, LH, RH)                             \
    ZMK_LAYER_3(                                                                         \
        name,                                                                            \
        &kp ESC                  LT                RT                    &kp SLASH  \
        &none                    LM                RM                    &kp MINUS  \
        &none                    LB &pass    &none RB                    &bt BT_NXT \
        &none &none &none  XXX   LH                RH   XXX  &kp LEFT &kp SPACE &kp RIGHT,  \
        &inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_UP PG_DN \
    )

#include "zmk-helpers/key-labels/hillside52.h"
#include "base.keymap"
#include "_private.dtsi"

&uc {
  default-mode = <UC_MODE_LINUX>;
};

// Swapper for smart alt+esc
ZMK_TRI_STATE(la_esc, bindings = <&kt LALT>, <&kp ESC>, <&kt LALT>;
              ignored-key-positions = <LT5>;) // itself only
/ { behaviors {
    // Swapper for smart ctrl+tab
    ctrl_tab: ctrl_tab {
        compatible = "zmk,behavior-smart-toggle";
        #binding-cells = <0>;
        bindings = <&kp LCTRL>, <&kp TAB>;
        ignored-key-positions = <LT3 RT2 RM1 RM2 RM3 RB1 RB3>; // itself and arrows and tabs
    };
    // Swapper for smart ctrl+shift+tab
    ctrl_ptab: ctrl_ptab {
        compatible = "zmk,behavior-smart-toggle";
        #binding-cells = <0>;
        bindings = <&kp LCTRL>, <&kp LS(TAB)>;
        ignored-key-positions = <LT4 RT2 RM1 RM2 RM3 RB1 RB3>; // itself and arrows and tabs
    };
}; };

ZMK_BASE_LAYER(Base,
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    &kp SQT       &kp COMMA     &kp DOT       &kp P         &kp Y       ,   &kp F         &kp G         &kp C         &kp R         &kp L       ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &hml LGUI A   &hml LALT O   &hml LCTRL E  &hml LSHFT U  &kp I       ,   &kp D         &hmr RSHFT H  &hmr LCTRL T  &hmr LALT N   &hmr LGUI S ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &kp SEMI      &kp Q         &kp J         &kp K         &kp X       ,   &kp B         &kp M         &kp W         &kp V         &kp Z       ,
//╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                              &lt VIM_NAV ESC &lt_spc NAV 0 &lt NUM RET ,   &lt FN RET    &lt SYM BSPC  &lt FN DEL
//                            ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
)

// TODO: &lt to &sm
#define NAV_CUT    &hml LGUI LC(X)
#define NAV_COPY   &hml LALT LC(C)
#define NAV_PASTE  &hml LCTRL LC(V)
#define NAV_UNDO   &hml LSHIFT LC(Z)
#define REDO       &kp LS(LC(Z))
#define SELECT_ALL &kp LC(A)
#define TERM_COPY  &kp LS(LC(C))
#define TERM_PASTE &kp LS(LC(V))
#define VIM_WIN    &kp LC(W)
#define SAVE       &kp LC(S)

ZMK_BASE_LAYER(Nav,
// TODO: add LG(L) to LH4

//╭─────────────┬─────────────┬─────────────┬─────────────┬─*───────────╮ ╭─────────────┬─*───────────┬─────────────┬─*───────────┬─*───────────╮
    &la_esc       &ctrl_ptab    &ctrl_tab     &kp F5        &swapper    ,   &kp PG_UP     NAV_BSPC      NAV_UP        NAV_DEL       &kp PG_DN   ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─*───────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    NAV_CUT       NAV_COPY      NAV_PASTE     NAV_UNDO      VIM_WIN     ,   &kp PG_DN     NAV_LEFT      NAV_DOWN      NAV_RIGHT     &kp RET     ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    SELECT_ALL    TERM_COPY     TERM_PASTE    REDO          SAVE        ,   &kp INS       &kp LS(TAB)   &kp K_APP     &kp TAB       ___         ,
//╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                &kp PSCRN     XXX           &bootloader ,   ___           CANCEL        ___
//                            ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
)

ZMK_BASE_LAYER(Fn,
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                               _BT_SEL_KEYS_                            ,   &kp LA(F4)    &kp F7        &kp F8        &kp F9        &kp F10     ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &kp LGUI      &kp LALT      &kp LCTRL     &kp LSHIFT    &bootloader ,   &kp PSCRN     &kp F4        &kp F5        &kp F6        &kp F11     ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    XXX           XXX           XXX           XXX           &sys_reset  ,   &kp LS(PSCRN) &kp F1        &kp F2        &kp F3        &kp F12     ,
//╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                ___           &sys_reset    &bootloader ,   &bootloader   &sys_reset    XXX
//                            ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
)

ZMK_BASE_LAYER(Num,
// TODO:
// &curr_euro
// &kp u_BACK    &kp u_FWD     &kp F5        &kp F12
// U_DEVTOG
// &kp K_CALC
// sensor-bindings = <&inc_dec_kp u_TAB_PRV u_TAB_NXT &inc_dec_kp LS(TAB) TAB>;

//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    ___           ___           ___           ___           ___         ,   XXX           &kp N7        &kp N8        &kp N9        &kp COLON   , // &kp KP_DIVIDE,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &kp LGUI      &kp LALT      &kp LCTRL     &kp LSHIFT    ___         ,   &kp PLUS      &kp N4        &kp N5        &kp N6        &kp DOT     , // &kp KP_MINUS,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    ___           ___           ___           ___           ___         ,   &kp STAR      &kp N1        &kp N2        &kp N3        &curr_euro  , // &kp DE_COMMA,
//╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                ___           ___           ___         ,   &kp BSPC      &kp N0        &kp DEL
//                            ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
)

// TODO: remove
// ~@*&\   ^<>/%      combos:     `  $      |         {  }
// €:-+    !()"?
// ;10|    #[]'_      combos:  ra ra -> =>  |  ` = $` =  ra ra
// 
// `12345 67890-= 
// ~!@#$% ^&*()_+
// `12345 67890= 
// ~!@#$% ^&*()_+
// []  {}  
// ;'\ :"| 
// ,./ <>? 
ZMK_BASE_LAYER(Symbols,
//╭──── ~ ──────┬──── @ ──────┬──── * ──────┬──── & ──────┬──── \ ──────╮ ╭──── ^ ──────┬──── < ──────┬──── > ──────┬─ / ─────────┬─ % ─────────╮
    &kp TILDE     &kp AT        &kp STAR      &kp AMPS      &kp BSLH    ,   &kp CARET     &kp LT        &kp GT        &kp FSLH      &kp PRCNT   ,
//╭──── € ──────┬──── : ──────┬──── - ──────┬──── + ──────┬─────────────┤ ├──── ! ──────┬──── ( ──────┬──── ) ──────┬──── " ──────┬──── ? ──────╮
    &curr_euro    &kp COLON     &kp MINUS     &kp PLUS      XXX         ,   &kp EXCL      &kp LPAR      &kp RPAR      &kp DQT       &kp QMARK   ,
//╭──── ; ──────┬──── 1 ──────┬──── 0 ──────┬──── | ──────┬─────────────┤ ├──── # ──────┬──── [ ──────┬──── ] ──────┬──── ' ──────┬──── _ ──────╮
    &kp SEMI      &kp N1        &kp N0        &kp PIPE      XXX         ,   &kp HASH      &kp LBKT      &kp RBKT      &kp SQT       &kp UNDER   ,
//╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                ___           ___           ___         ,   ___           ___           ___
//                            ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
)

ZMK_BASE_LAYER(Mouse,
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    ___           ___           ___           ___           ___         ,   ___           &kp PG_UP     U_MS_U        &kp PG_DN     ___         ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    ___           ___           ___           ___           ___         ,   U_WH_L        U_MS_L        U_MS_D        U_MS_R        U_WH_R      ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    ___           ___           ___           ___           ___         ,   ___           &mkp LCLK     &mkp MCLK     &mkp RCLK     ___         ,
//╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                ___           ___           ___         ,   U_WH_U        U_WH_D        ___
//                            ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
)

// &kp TILDE     &kp AT        &kp STAR      &kp AMPS      &kp BSLH                                                                      &kp CARET     &kp LT        &kp GT        &kp FSLH      &kp PRCNT     &kp BSPC
// &kp DE_EURO   &kp COLON     &kp MINUS     &kp PLUS      XXX                                                                           &kp EXCL      &kp LPAR      &kp RPAR      &kp DQT       &kp QMARK     XXX
// &kp SEMI      &kp N1        &kp N0        &kp PIPE      XXX           XXX                                               XXX           &kp HASH      &kp LBKT      &kp RBKT      &kp SQT       &kp UNDER     XXX
// LAR_2         LAR_3                       L_ENC         &kp BSPC      &kp LTK_2 &kp BSPC                  XXX           ___           XXX           R_ENC                       XXX           XXX           XXX
// COMBO( 8,  9, RBKT )
// COMBO( 7,  8, LBKT )

// #define INSERT          &kp I
// #define APPEND          &kp A
// #define HOME_LINE       &kp LS(H)
// #define MIDDLE_LINE     &kp LS(M)
// #define LAST_LINE       &kp LS(L)
//
// Vim navigation
// left hand
#define TAB_PREV        &m_gt2
#define TAB_NEXT        &m_gt1
ZMK_MACRO(m_gt2,  bindings = <&kp G  &kp LS(T)>;  wait-ms = <0>; tap-ms = <5>;)
ZMK_MACRO(m_gt1,  bindings = <&kp G  &kp    T >;  wait-ms = <0>; tap-ms = <5>;)
#define CMD             &kp COLON
#define JUMP_FORW       &kp    F
#define JUMP_BACK       &kp LS(F)
#define JUMP_FORW_T     &kp    T
#define JUMP_BACK_T     &kp LS(T)

// right hand
#define LINE_START      &kp N0
#define LINE_END        &kp DOLLAR
#define FIRST_CHAR      &kp CARET
#define LAST_CHAR       &m_g_
#define PREV_WORD       &kp B
#define NEXT_WORD       &kp W
#define PREV_WORD_E     &m_ge
#define NEXT_WORD_E     &kp E
// multiple chars
ZMK_MACRO(m_g_,  bindings = <&kp G  &kp UNDER>;  wait-ms = <0>; tap-ms = <5>;)
ZMK_MACRO(m_ge,  bindings = <&kp G  &kp E>;      wait-ms = <0>; tap-ms = <5>;)
#define LINE_UP         &kp MINUS
#define LINE_DN         &kp PLUS
#define PREV_FIND       &mt HASH LS(N)  // Tap: N  | Long-tap: #
#define NEXT_FIND       &mt STAR N      // Tap: n  | Long-tap: *
#define SEARCH          &kp SLASH
#define REPEAT          &kp DOT
#define I_ONE_SHOT      &kp LC(O)

ZMK_BASE_LAYER(Vim_Navigation,
//╭─────────────┬─ gT ────────┬── gt ───────┬─────────────┬─────────────╮ ╭─ 0 ─────────┬─ ^ ─────────┬─ - ─────────┬─ g_ ────────┬─ $ ─────────╮
    ___           TAB_PREV      TAB_NEXT      ___           ___         ,   LINE_START    FIRST_CHAR    LINE_UP       LAST_CHAR     LINE_END    ,
//├─ : ─────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─ b ─────────┼─ ge ────────┼─ + ─────────┼─ w ─────────┼─ e ─────────┤
    CMD           &mo VIM_RS    &mo VIM_WS    &mo VIM_PS    ___         ,   PREV_WORD     PREV_WORD_E   LINE_DN       NEXT_WORD     NEXT_WORD_E ,
//├─ T ─────────┼─ F ─────────┼─ f ─────────┼─ t ─────────┼─────────────┤ ├─────────────┼─ N # ───────┼─ / ─────────┼─ n * ───────┼─────────────┤
    JUMP_BACK_T   JUMP_BACK     JUMP_FORW     JUMP_FORW_T   ___         ,   ___           PREV_FIND     SEARCH        NEXT_FIND     ___         ,
//╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─ . ─────────┼─────────────┼─  ────────┼─────────────┴─────────────╯
                                ___           ___           ___         ,   REPEAT                      I_ONE_SHOT
//                            ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
)

// hjkl navigation
#define VIM_UP       &kp H
#define VIM_DOWN     &kp J
#define VIM_LEFT     &kp K
#define VIM_RIGHT    &kp L

ZMK_BASE_LAYER(Vim_HJKL_Navigation,
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    ___           ___           ___           ___           ___         ,   ___           ___           VIM_UP        ___           ___         ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &kp LGUI      &kp LALT      &kp LCTRL     &kp LSHIFT    ___         ,   ___           VIM_LEFT      VIM_DOWN      VIM_RIGHT     ___         ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    ___           ___           ___           ___           ___         ,   ___           ___           ___           ___           ___         ,
//╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                ___           ___           ___         ,   ___           ___           ___
//                            ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
)

// window switching
ZMK_MACRO(ws_up   , bindings = <&kp LC(W) &kp K>; wait-ms = <0>; tap-ms = <5>;)
ZMK_MACRO(ws_down , bindings = <&kp LC(W) &kp J>; wait-ms = <0>; tap-ms = <5>;)
ZMK_MACRO(ws_left , bindings = <&kp LC(W) &kp H>; wait-ms = <0>; tap-ms = <5>;)
ZMK_MACRO(ws_right, bindings = <&kp LC(W) &kp L>; wait-ms = <0>; tap-ms = <5>;)

ZMK_BASE_LAYER(Vim_Window_Switch,
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    ___           ___           ___           ___           ___         ,   ___           ___           &ws_up        ___           ___         ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    ___           ___           ___           ___           ___         ,   ___           &ws_left      &ws_down      &ws_right     ___         ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    ___           ___           ___           ___           ___         ,   ___           ___           ___           ___           ___         ,
//╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                ___           ___           ___         ,   ___           ___           ___
//                            ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
)

// results scrolling
#define RS_UP       &kp PG_UP
#define RS_DOWN     &kp PG_DN
#define RS_LEFT     &kp LA(F)
#define RS_RIGHT    &kp LA(K)

ZMK_BASE_LAYER(Vim_Results_Scroll,
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    ___           ___           ___           ___           ___         ,   ___           ___           RS_UP         ___           ___         ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    ___           ___           ___           ___           ___         ,   ___           RS_LEFT       RS_DOWN       RS_RIGHT      ___         ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    ___           ___           ___           ___           ___         ,   ___           ___           ___           ___           ___         ,
//╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                ___           ___           ___         ,   ___           ___           ___
//                            ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
)

// preview scrolling
#define PS_UP       &kp LC(U)
#define PS_DOWN     &kp LC(D)
#define PS_LEFT     &kp LC(F)
#define PS_RIGHT    &kp LC(K)

ZMK_BASE_LAYER(Vim_Preview_Scroll,
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    ___           ___           ___           ___           ___         ,   ___           ___           PS_UP         ___           ___         ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    ___           ___           ___           ___           ___         ,   ___           PS_LEFT       PS_DOWN        PS_RIGHT     ___         ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    ___           ___           ___           ___           ___         ,   ___           ___           ___           ___           ___         ,
//╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                ___           ___           ___         ,   ___           ___           ___
//                            ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
)

/* vim: set nowrap ft=c foldmethod=marker foldmarker=(,) tw=146: */
